:root {
    --bg-main: hsl(0, 0%, 5%);
    --bg-main-inv: hsl(0, 0%, 95%);
    --bg-nav-bar: #000000;
    --fg-main: #cfcfcf;
    --fg-main-inv: hsl(0, 0%, 19%);
    --fg-hi: #f6f6f6;
    --fg-dim: #6f6f6f;
    --fg-dim-inv: hsl(0, 0%, 56%);
    --fg-trans: #ffffff25;
    --fg-main-hi-01: #8ec089;
    --fg-main-hi-02: #f8864d;
    --fg-main-hi-03: #6699cc;
    --fg-main-hi-04: #c594c5;
    --theme-rd: #ec5f67;
    --theme-or: #f99157;
    --theme-yl: #fac863;
    --theme-gn: #99c794;
    --theme-cy: #5fb3b3;
    --theme-bl: #6699cc;
    --theme-vt: #c594c5;
    --theme-bn: #ab7967;
    --theme-wt: #d8dee9;
    --theme-gy-br: #cdd3de;
    --theme-gy: #a7adba;
    --theme-bk-br: #505b66;
    --theme-bk: #1c2b34;
    --border-bg: #303030;
    --border-bg-hi: #5b5b5b;
    --btn-bg: #1c1c1c;
    --btn-bg-hi: #3c3c3c;
    --card-bg: hsl(210, 8%, 15%);
    --card-bg-invert: hsl(210, 8%, 85%);
    --card-border-fg: hsla(0, 0%, 100%, 0.25);
    --card-border-fg-hi: hsla(0, 0%, 100%, 0.4);
    --card-border-fg-invert: hsla(0, 0%, 0%, 0.25);
    --transparent-black-10: hsla(0, 0%, 0%, 0.1);
    --transparent-black-20: hsla(0, 0%, 0%, 0.2);
    --transparent-black-30: hsla(0, 0%, 0%, 0.3);
    --transparent-black-40: hsla(0, 0%, 0%, 0.4);
    --transparent-black-50: hsla(0, 0%, 0%, 0.5);
    --transparent-black-60: hsla(0, 0%, 0%, 0.6);
    --transparent-black-70: hsla(0, 0%, 0%, 0.7);
}
